* {
  text-align: center;
  background-color: rgb(56, 55, 55);
  font-family: "Monsieur La Doulaise", cursive;
}

h1 {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 1000;
  font-size: 5rem;
}
.pic {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  flex-flow: column;
  flex-direction: row;
  flex-wrap: wrap;
}
